.how {

    padding:120px 0;

    background:#09090B;

}


.container {

    max-width:1200px;

    margin:auto;

    padding:0 32px;

}




.header {

    text-align:center;

    max-width:700px;

    margin:auto;

}



.header span {

    color:#22D3EE;

    font-weight:600;

    text-transform:uppercase;

    letter-spacing:1px;

}



.header h2 {

    margin-top:15px;

    font-size:
    clamp(35px,4vw,55px);

    color:white;

}



.header h2 strong {

    display:block;

    background:
    linear-gradient(
        90deg,
        #7C3AED,
        #22D3EE
    );

    background-clip:text;
    -webkit-background-clip:text;

    color:transparent;

}



.header p {

    margin-top:20px;

    color:#A1A1AA;

    font-size:18px;

    line-height:1.6;

}


.line {

    position:absolute;

    top:65px;

    left:12.5%;

    width:75%;

    height:3px;


    background:
    linear-gradient(
        90deg,
        #7C3AED,
        #22D3EE
    );


    border-radius:10px;


    opacity:.7;


    z-index:0;

}

.steps {

    margin-top:70px;

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:25px;

    position:relative;

}




.card {


    position:relative;

    z-index:1;

    padding:35px;


    border-radius:24px;


    background:
    rgba(17,19,28,.75);


    border:
    1px solid rgba(255,255,255,.08);


    backdrop-filter:blur(20px);


    transition:.35s;


}



.card:hover {


    transform:translateY(-10px);


    border-color:
    rgba(34,211,238,.4);


    box-shadow:

    0 0 40px rgba(124,58,237,.15);


}





.number {


    position:absolute;


    top:20px;

    right:25px;


    font-size:48px;


    font-weight:800;


    color:

    rgba(255,255,255,.05);


}





.icon {


    width:60px;


    height:60px;


    border-radius:18px;


    display:flex;


    align-items:center;


    justify-content:center;


    color:white;


    background:

    linear-gradient(
        135deg,
        #7C3AED,
        #22D3EE
    );


    box-shadow:

    0 0 25px rgba(124,58,237,.4);

}




.card h3 {


    margin-top:25px;


    color:white;


    font-size:22px;

}



.card p {


    margin-top:15px;


    color:#A1A1AA;


    line-height:1.7;

}





@media(max-width:1000px){


    .steps {

        grid-template-columns:
        repeat(2,1fr);

    }


}




@media(max-width:600px){


    .steps {

        grid-template-columns:1fr;

    }


}