* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html {
    scroll-behavior:smooth;
}


body {

    background:#09090B;

    color:white;

    font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

    overflow-x:hidden;

}


#root {

    width:100%;

    min-height:100vh;

}


a {

    text-decoration:none;

    color:inherit;

}


button {

    font-family:inherit;

    cursor:pointer;

    border:none;

    background:none;

}


input,
select,
textarea {

    font-family:inherit;

    color:inherit;

}


:focus-visible {

    outline:2px solid #22D3EE;

    outline-offset:2px;

}


img {

    max-width:100%;

    display:block;

}

:root {
  --navbar-height: 100px;
}

.app-content {
  padding-top: var(--navbar-height);
}